{{ $hosts := groupByLabel $ "virtual.host" }}

{{ if not $hosts }}

127.0.0.1:2015
log {
    output stdout
}


{{ else }}

{{ range $h, $containers := $hosts }}
{{ $c := first $containers }}
{{ $allhosts := trim (index $c.Labels "virtual.host") }}
{{ range $t, $host := split $allhosts " " }}
{{ $tlsEmail := trim (index $c.Labels "virtual.tls-email") }}
{{ $tlsConfig := trim (index $c.Labels "virtual.tls") }}
{{ $tlsEnv := or $tlsEmail $tlsConfig }}
{{ $tlsOff := eq $tlsEnv "" }}
{{ $tlsOn := ne $tlsEnv "" }}
{{ $alias := trim (index $c.Labels "virtual.alias") }}
{{ $aliasPresent := ne $alias "" }}
{{ $authUsername := trim (index $c.Labels "virtual.auth.username") }}
{{ $authPassword := trim (index $c.Labels "virtual.auth.password") }}
{{ $authPath := trim (index $c.Labels "virtual.auth.path") }}
{{ $basicauth := and (ne $authUsername "") (ne $authPassword "") }}
{{ $staticRoot := trim (index $c.Labels "virtual.static.root") }}
{{ $staticMatcher := trim (index $c.Labels "virtual.static.matcher") }}
{{ $staticHide := trim (index $c.Labels "virtual.static.hide") }}
{{ $staticIndex := trim (index $c.Labels "virtual.static.index") }}
{{ $staticBrowse := trim (index $c.Labels "virtual.static.browse") }}
{{ $noProxy := eq (trim (index $c.Labels "virtual.noProxy")) "true" }}
{{ $proxyMatcher := trim (index $c.Labels "virtual.proxy.matcher") }}

{{ if $aliasPresent  }}
{{ if $tlsOff }}http://{{ end }}{{ $alias }} {
  redir {{ if $tlsOff }}http://{{ else }}https://{{ end }}{{ $host }}
}
{{ end }}

{{ if $tlsOff }}http://{{ end }}{{ $host }} {
  {{ if $tlsOn }}tls {{ $tlsEnv }}{{ end }}

  {{ if $basicauth }}
  basicauth {{ $authPath }} {
      {{ $authUsername }} {{ $authPassword }}
  }
  {{ end }}

  {{ if ne $staticRoot "" }}
  root * {{ $staticRoot }}
  templates
  file_server {{ $staticMatcher }} {
    {{ if ne $staticHide "" }}hide {{ $staticHide }}{{ end }}
    {{ if ne $staticIndex "" }}index {{ $staticIndex }}{{ end }}
    {{ if ne $staticBrowse "" }}browse{{ end }}
  }
  {{ end }}

  {{ if not $noProxy }}
  reverse_proxy {{ $proxyMatcher }} {
    lb_policy round_robin
    {{ range $i, $container := $containers }}
    {{ range $j, $net := $container.Networks }}
    {{ $port := index $container.Labels "virtual.port" }}
    to {{ $net.IP }}:{{ if $port }}{{ trim $port }}{{ else }}80{{ end }}
    {{ end }}
    {{ end }}
  }
  {{ end }}

  encode zstd gzip
  log {
    output stdout
  }
}
{{ end }}
{{ end }}

{{ end }}
